*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins , sans-serif;
}
body{
    
    color: rgb(254, 254, 254);
    background-color:rgb(15, 14, 14);
}
.maindiv {
    width: 100%;
    height: 350px;
    background-color:rgb(15, 14, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maindiv div {
    height: 265px;
    width: 23%;
    margin-top: -80px;
    background-color: #fc4807;
    border: 4px solid #f35709;
}
.maindiv div:hover{
    transform: scale(1.1);
}
.maindiv div img{
    align-items: center;
    width: 110%;
padding: 20px;

}
button{
    width: 200px;
    margin-left: 90PX;
    padding: 1px;
    border-radius: 10px;
    margin-top: -40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #ff7d3c;
    margin-inline: 8px;
    border: 4px solid #f35709;
    text-shadow: 0 0 25px #fd8346;
}
button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 25px #ff7f50,
        0 0 50px #ff7f50,
        0 0 80px #ff7f50;
    transform: scale(1.2) rotate(-15 deg);
}
.img{
    margin-left: -15px;
    margin-top: -10px;
}
.logo{
    text-decoration: underline;
    color: #fc4807;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    
}



@media (max-width:500px){
    .maindiv {
        height: 230px;
    }
    .maindiv div{
        width: 143px;
        height: 190px;
        margin-top: 30px;
    }
    .maindiv img{
        width: 170px;
        height: 150px;
        margin-top: -12px;
        margin-left: -18px;
    }
    button{
        height: 50px;
        font-size: 18px;
        margin-left: -4px;
        width: 140px;
        margin-top: -18px;
    }
    .logo{
        font-size: 40px;
        margin-inline: -90px;
        margin-left: 50px;
        width: -80px;
    }
    
}
